{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm">
    <form action="/auth/signup" method="POST">
        <fieldset>
            <div class = 'welcome-message'>
            <legend>Sign Up Here!</legend>
            <label class="form-label">Username: </label>
            <input type="text" name="username" placeholder="username" class="form-control" required>
            <label class="form-label">Password</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
            </div>
        </fieldset>
        <div class = 'success'> 
            <input type="submit" value="Create Account" class="btn btn-secondary">
        </div>
    </form>
</div>

{% endblock %}