{% layout "layout.liquid" %}
{% block content %}
    <div class="col-mb-4"></div>
    <h1>Welcome to the Family and Friends Recipe Tracker!</h1>
    <p>This app is all about letting family and friends know which recipes you love and which might need a little less or more of something.</p>
    </div>
    <img src = "https://images.pexels.com/photos/5638329/pexels-photo-5638329.jpeg?auto=compress&cs=tinysrgb&w=300" alt =" image of dinner table" width = "500px" height="300">
{% endblock %}