{% layout "layout.liquid" %}
{% block content %}
    <div class="col-mb-4"></div>
    <h1>Welcome to the Family and Friends Recipe Tracker!</h1>
    <p>This app is all about lwtting family and friends know which recipes youlove3 and which might need a little less or more of something.</p>
    </div>
   
{% endblock %}