{% layout "layout.liquid" %}
{% block content %}
    <div class="col-mb-4">
    <h1 class = 'headings' id ='welcome-heading'>Welcome to the Family and Friends Recipe Collection.</h1>
    <p class = 'welcome-message'>This app lets family and friends gather treasured recipes and leave notes about recipes they have prepared.</p>
    </div>    
{% endblock %}