body {
    background-image: url('https://images.pexels.com/photos/7296688/pexels-photo-7296688.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: rgb(213, 231, 255);
    margin: auto;
    left: 25px;
}

.card {
    margin: 5px;
    border-radius: 10%;
    left: 25px;
}

.card-text{
    font-size: 12px;
    margin: 0%;

}

.btn.btn-info {
    margin-top: 5px;
}

.headings {
    margin-top: 1%;
    color: rgb(38, 37, 38);
    background-color: rgb(243, 225, 248);
    opacity: 0.7;
    font-family: 'Petit Formal Script', cursive;
    font-size: 50px;
    padding-left: 15px;
} 

.welcome-message {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 235, 249);
    opacity: 0.7;
    font-family: 'Petit Formal Script';
    font-weight: bold;
    width: 100%;
    padding-left: 15px;
}

h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 30px;
}

nav {
    font-family: 'Petit Formal Script';
}
.btn-secondary {
    background-color: rgb(246, 235, 249);
    color: rgb(130, 131, 132);
}

.comments {
    font-family: 'Petit Formal Script';
}

.card-header {
    font-family: 'Petit Formal Script';    
}
.view {
    font-family: 'Petit Formal Script';
    text-align: left;
    padding: 1%;
}

.showCardBody {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 235, 249);
    opacity: 0.9;
    font-family: 'Petit Formal Script';
    font-weight: bold;    
}
.newCardPage {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 235, 249);
    opacity: 0.9;
    font-family: 'Petit Formal Script';
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%;
    width: 100%;
    height: 50%;
}

.homeButtons {
    padding: 1%;
}

#maincourse.homeButtons {
    width: 50%;
       
}
img {
    border-radius: 10%;
}

.display-6 {
    padding-left: 25px;    
}
