{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Ingredients</h2>
    <div class="row">
        {% for ingredient in ingredients %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ ingredient.name }}</h5>
            <div class="card-body">
                 <a href="/ingredients/{{ ingredient.id }}" class="btn btn-info">
                    View {{ ingredient.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}