{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/recipes/{{recipes.id}}?_method=PUT" method="POST"></form>
        <fieldset>
            <legend>Edit {{recipe.name}}</legend>
            <label class="form-label">Name: </label>
            <input class="form-control" type="text" name="name" placeholder="enter the name of the recipe" value="{{ recipe.name }}">

            <label class="form-label">Plant Based:</label>
            <input 
                type="checkbox" 
                name="plantBased" 
                class="form-check-input"
                {% if recipe.plantBased %}
                    checked
                {% endif %}>
             <label class="form-label">Vegetarian:</label>
            <input 
                type="checkbox" 
                name="vegetarian" 
                class="form-check-input"
                {% if recipe.vegetarian %}
                    checked
                {% endif %}>
            <label class="form-label">Dairy Free:</label>
            <input 
                type="checkbox" 
                name="dairyFree" 
                class="form-check-input"
                {% if recipe.dairyFree %}
                    checked
                {% endif %}>
            <label class="form-label">Meat:</label>
            <input 
                type="checkbox" 
                name="hasMeat" 
                class="form-check-input"
                {% if recipe.hasMeat %}
                    checked
                {% endif %}>
            <label class="form-label">Gluten:</label>
            <input 
                type="checkbox" 
                name="glutenFree" 
                class="form-check-input"
                {% if recipe.glutenFree %}
                    checked
                {% endif %}>
            
        </fieldset>
        <input type="submit" value="Edit recipe {{recipe.name}}" class="btn btn-success">
    </form>
</div>
{% endblock %}