{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6" >All Main courses</h2>
    <div class="row">
        {% for maincourse in maincourses %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ maincourse.name }}</h5>
            <div class="card-body">
                <p class="card-text">
                    {%- comment -%} Plant Based {{ maincourse.plantBased }} {%- endcomment -%}
                    {% if maincourse.plantBased %}
                        Plant Based
                    {% else %}
                        Not plant based
                    {% endif %}
                </p>
                <p class="card-text">
                    {% if maincourse.vegitarian %}
                        vegetarian
                    {% else %}
                        Not vegetarian 
                    {% endif %}
                </p>
                <p class="card-text">
                   {% if maincourse.dairyFree %}
                        Dairy free
                    {% else %}
                        Not dairy free
                    {% endif %}
                </p>
                <p class="card-text">
                    {% if maincourse.hasMeat %}
                        Contains meat
                    {% else %}
                        No meat
                    {% endif %}
                </p>
                <p class="card-text">
                    {% if maincourse.hasGluten %}
                        Gluten free
                    {% else %}
                        Not gluten free
                    {% endif %}
                </p>
                <div class = 'view'>
                    <a href="/maincourses/{{ maincourse.id }}" class="btn btn-secondary">
                    View {{ maincourse.name }}
                    </a>
                </div>    
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}